<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>

    <body style="background-repeat:no-repeat;background-size: cover;background-color:#DAF7A6">

            <div style="background-color:rgba(88, 24, 69 ,0.8);
            color:#FFC300;
            width:800px;height:500px;
            text-align: center;
            position: absolute;
            top:0;bottom: 0;left: 0;right: 0;
            margin: auto;padding-top: 40px;
            border: 1px solid black; border-spacing: 5px; border-radius: 5px;">
                <i>
                    <span style="font-size: 50px;font-weight: 900;">Welcome to our Customer Review App of Winternship!<br/><br/></span>
                    <span style="font-size: 30px;font-weight: 700;">Would you like to provide review ? Please click here<br><br>
                    <a href="Review.html" style="color:#DAF7A6 ;">
                        Review
                    </a>
                </span>
                </i>

            </div>

    </body>
</html>

